#divfix {
    bottom: 35;
    text-align: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    left: 10%;
    margin-left: 20%;
    margin-right: 20%;
    position: fixed;
    
     }

#rounded{
    border-radius: 10%;
   

}